<div class="hidden lg:block" style="position:relative;height:100%;max-width:100vw;max-height: 100vh;width: 100%;">
    <div style="position:absolute;height:50px;top:5px;z-index: 1; width: 100%;display: flex;justify-items: center;align-content: center;text-align: center;background-color:#1F1F1F;">
        <div *ngIf="!enableButton" class="text-white text-lg text-center" style="display: block;margin: 0 auto;">Thank you for making memories with us :)</div>
         <button *ngIf="enableButton" id="btn" class="btn-3d w-32" style="display: block;margin: 0 auto" (click)="sendPhoto()" [disabled]='!enableButton' [ngClass]="{'bg-yello-200':!enableButton}">Send</button>
    </div>
    <div id="tui-image-editor-container"></div>
</div>
<div class="lg:hidden w-screen h-screen flex justify-center items-center px-4">
    <p>Editing on phone is not supported currently. <br/> Please use a Laptop/Desktop/TV whatever!!</p>
</div>
<ngx-spinner
bdColor="rgba(255,255,255,0.8)"
size="medium"
color="#E5433E"
type="pacman"
>
<p style="font-size: 20px; color:black" class="text-center" [innerHtml]="spinnerMsg"></p>
</ngx-spinner>
    