<ngx-spinner
  bdColor="rgba(51,51,51,0.8)"
  size="medium"
  color="#E5433E"
  type="pacman"
  name="spinner-1"
  >
  <p style="font-size: 20px; color:black">Let's create memories...</p>
</ngx-spinner>



<nav class="flex items-center justify-end border-bg p-6 bg-gray-900">
  <div class="self-end">
    <input type="search" #search name="search" id="search" class="bg-purple-white shadow rounded border-0 p-3"
      placeholder="Search by name..." (input)="searchWord(search.value)">
  </div>
  <div class="self-end ml-4">
    <button type="button" class="btn-primary" (click)="logout()">Logout</button>
  </div>
</nav>



<div class="hero-bg flex w-full h-full" >
  <div class="bg-no-repeat bg-bottom w-1/2 flex-auto" style="max-width:50%;">
    <div class="w-1/3 inline-block"></div>
    <div class="bg-gray-900 w-2/3 inline-block rounded overflow-hidden mt-2" (click)="callProfile()" style="max-width: 50%;">
      <img class="object-center sm:object-top md:object-right lg:object-bottom xl:object-center" src="{{photo}}"
        alt="Tshirt photo">
      <div class="px-6 py-4 text-white">
        <p class="text-center text-xl">
          {{currentUser.firstName}} {{currentUser.lastName}}
       </p>
        <p class="text-center text-base sm:text-sm md:text-sm lg:text-sm xl:text-sm">
           Username: {{currentUser.userId}}
        </p>
        
        <p class="text-center text-base sm:text-sm md:text-sm lg:text-sm xl:text-sm">
          Branch: {{currentUser.department}}
        </p>
      </div>
    </div>
    <div class="w-1/3 inline-block"></div>
  </div>

  <div class="flex-auto" style="max-width:50%;">
    <div class="relative mr-6 my-2 mb-2 ml-48">
    <select name="department" id="department" class="w-auto block text-center px-4 py-2 bg-red-600 text-white"
        (change)="getDepartmentUsers(department.value)" #department>
        <option value="COED">Computer Engineering Department</option>
        <option value="CHED">Chemical Engineering Department</option>
        <option value="MED">Mechanical Engineering Department</option>
        <option value="ECED"> Electronics Engineering Department</option>
        <option value="CED">Civil Engineering Department</option>
        <option value="EED">Electrical Engineering Department</option>
      </select>
    </div>
 <div class="relative mr-6 my-2 mb-2 ml-2">    
  
  <div *ngIf="!fetchedUsers" style="height: 400px;">
    <ngx-spinner
      bdColor="rgba(51,51,51,0.8)"
      size="large"
      color="#E5433E"
      type="pacman"
      size="medium"
      name="spinner-2"
      [fullScreen] = "false"
      >
      <p style="font-size: 20px; color:black; color: white;">Finding people...</p>
    </ngx-spinner>
  </div>

  <div *ngIf="fetchedUsers" class="grid grid-cols-3 "> 
    <div *ngFor="let user of userArr |  paginate: { itemsPerPage: 6, currentPage: page }">
      <div *ngIf="currentUser.userId!=user.userId">   
        <a class="mb-2" (click)="callEdit(user.userId,currentUser.userId)">
        <div class="text-center bg-gray-900 rounded-lg shadow-lg px-4 py-12 m-2">
          <div class="bg-cover h-24 " [style.backgroundImage]="'url('+ user.photoUrl +')'" ></div>
            <div class="p-2 h-12 text-center text-white flex-1 flex flex-col text-white">
              <h3 class="">{{user.firstName}} {{user.lastName}}</h3>
                <div class=" text-grey-darker text-sm flex-1">
                 <p>{{user.userId}} </p>
                </div>
                  <a href="#" class="border-t border-grey-light pt-2 text-xs text-grey hover:text-red uppercase no-underline tracking-wide" style="
                    ">{{user.department}}</a>
            </div>
          </div>
          </a>
        </div>
      </div>
    </div>

    <div class="flex items-center justify-between h-20">
      <div class="w-1/6"></div>
      <div class="w-4/6 text-center text-white-100">
        <div class="w-1/2 text-white-100">
        <pagination-controls (pageChange)="page = $event"></pagination-controls>
      </div>
      <div class="w-1/6"></div>
    </div>

    </div>
  </div>
</div>




 