.hero-bg{
    background-image: url(../../assets/images/header.jpg);
    background-position: center;
    
    background-size: cover;
}
.border-bg{
    background-image: url(../../assets/images/logo.png);
    background-position: left;
    background-repeat: no-repeat; 
    background-size: contain;
}

.dropdown:hover .dropdown-menu {
    display: block;
}

.my-pagination /deep/ .ngx-pagination .current{
    background: red;
    color:white;
}

.my-pagination /deep/ .ngx-pagination .current a span {
    color:white;
}

.my-pagination /deep/ .ngx-pagination .pagination-previous a{
    color:white;
}

.my-pagination /deep/ .ngx-pagination .pagination-previous a:hover{
    background: transparent;
    text-decoration: underline;
}

.my-pagination /deep/ .ngx-pagination .pagination-next a{
    color:white;
}
.my-pagination /deep/ .ngx-pagination .pagination-next a:hover{
    background: transparent;
    text-decoration: underline;
}
  
  