<div class="container">
    <div class="hero-bg flex justify-center items-center  w-screen h-screen flex-col text-center bg-local">
        <div class="bg-red-700 px-4 py-5 bg-opacity-75 text-white text-2xl rounded-lg ">
            <label for="username">College Id
                    <input type="text" class="input-area" id="username">
                </label>
                <label for="password" class="mt-2"> Password
                    <input type="text" class="input-area" id="password">
            </label>
        </div>
        
        
        <button type="button" class="btn-primary mt-4" routerLink="/homepage">Submit</button>
    </div>
</div>