<html>
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <meta name="theme-color" content="#000000" />
    <link rel="shortcut icon" href="./assets/img/favicon.ico" />
    <link
      rel="apple-touch-icon"
      sizes="76x76"
      href="./assets/img/apple-icon.png"
    />
    <link
      rel="stylesheet"
      href="https://cdn.jsdelivr.net/gh/creativetimofficial/tailwind-starter-kit/compiled-tailwind.min.css"
    />
    
  </head>
  <body >
  <div class="container mx-auto px-4">
    <div class="flex flex-wrap justify-center text-center mb-24">
      <div class="w-full lg:w-6/12 px-4">
        <h2 class="text-4xl font-semibold"></h2>
        <p class="text-lg leading-relaxed m-4 text-black-600">
         We are the Graduates of SVNIT'2020
        </p>
      </div>
    </div>
    <div class="flex flex-wrap">
      <div class="w-full md:w-6/12 lg:w-3/12 lg:mb-0 mb-12 px-4">
        <div class="px-6">
          <img
            alt="..."
            src="./assets/images/avi.jpg"
            class="shadow-lg rounded-full max-w-full mx-auto"
            style="max-width: 120px;"
          />
          <div class="pt-6 text-center">
            <h5 class="text-xl font-bold">Avinash Jaiswal</h5>
            <p class="mt-1 text-sm text-gray-500 font-semibold">
              Avinash is a developer. He is an average human with ambitions to buy a helicopter at some point of life. He loves the web and loves breathing life into ideas. 
                      
            </p>
            <!-- <div class="mt-6">
              <button
                class="bg-blue-400 text-white w-8 h-8 rounded-full outline-none focus:outline-none mr-1 mb-1"
                type="button"
              >
                <i class="fab fa-twitter"></i></button
              ><button
                class="bg-blue-600 text-white w-8 h-8 rounded-full outline-none focus:outline-none mr-1 mb-1"
                type="button"
              >
                <i class="fab fa-facebook-f"></i></button
              ><button
                class="bg-pink-500 text-white w-8 h-8 rounded-full outline-none focus:outline-none mr-1 mb-1"
                type="button"
              >
                <i class="fab fa-dribbble"></i>
              </button>
            </div> -->
          </div>
        </div>
      </div>
      <div class="w-full md:w-6/12 lg:w-3/12 lg:mb-0 mb-12 px-4">
        <div class="px-6">
          <img
            alt="..."
            src="./assets/images/rogin.jpeg"
            class="shadow-lg rounded-full max-w-full mx-auto"
            style="max-width: 120px;"
          />
          <div class="pt-6 text-center">
            <h5 class="text-xl font-bold">Rogin Koshy</h5>
            <p class="mt-1 text-sm text-gray-500  font-semibold">
              Rogin is a competitive coder and loves solving problems. He likes to explore new technologies but is often confused on what to pursue.
                                
            </p>
            <!-- <div class="mt-6">
              <button
                class="bg-red-600 text-white w-8 h-8 rounded-full outline-none focus:outline-none mr-1 mb-1"
                type="button"
              >
                <i class="fab fa-google"></i></button
              ><button
                class="bg-blue-600 text-white w-8 h-8 rounded-full outline-none focus:outline-none mr-1 mb-1"
                type="button"
              >
                <i class="fab fa-facebook-f"></i>
              </button>
            </div> -->
          </div>
        </div>
      </div>
      <div class="w-full md:w-6/12 lg:w-3/12 lg:mb-0 mb-12 px-4">
        <div class="px-6">
          <img
            alt="..."
            src="./assets/images/sameer.jpeg"
            class="shadow-lg rounded-full max-w-full mx-auto"
            style="max-width: 120px;"
          />
          <div class="pt-6 text-center">
            <h5 class="text-xl font-bold">Sameer Maandloi</h5>
            <p class="mt-1 text-sm text-gray-500  font-semibold">
              Hey I am Sameer, a Computer Engineer. I am always ready to learn new things or to go for any trip ;) . I am a brilliant listener so just ping me if you need a talk! ;)
                        
            </p>
            <!-- <div class="mt-6">
              <button
                class="bg-red-600 text-white w-8 h-8 rounded-full outline-none focus:outline-none mr-1 mb-1"
                type="button"
              >
                <i class="fab fa-google"></i></button
              ><button
                class="bg-blue-400 text-white w-8 h-8 rounded-full outline-none focus:outline-none mr-1 mb-1"
                type="button"
              >
                <i class="fab fa-twitter"></i></button
              ><button
                class="bg-gray-800 text-white w-8 h-8 rounded-full outline-none focus:outline-none mr-1 mb-1"
                type="button"
              >
                <i class="fab fa-instagram"></i>
              </button>
            </div> -->
          </div>
        </div>
      </div>
      <div class="w-full md:w-6/12 lg:w-3/12 lg:mb-0 mb-12 px-4">
        <div class="px-6">
          <img
            alt="..."
            src="./assets/images/atharva.jpeg"
            class="shadow-lg rounded-full max-w-full mx-auto"
            style="max-width: 120px;"
          />
          <div class="pt-6 text-center">
            <h5 class="text-xl font-bold">Atharava Kalsekar</h5>
            <p class="mt-1 text-sm text-gray-500 font-semibold">
              I am Atharva, a svnit pass-out. I like pretty much nothing but biryani and whisky. Happy coding.
                          
            </p>
            <!-- <div class="mt-6">
              <button
                class="bg-pink-500 text-white w-8 h-8 rounded-full outline-none focus:outline-none mr-1 mb-1"
                type="button"
              >
                <i class="fab fa-dribbble"></i></button
              ><button
                class="bg-red-600 text-white w-8 h-8 rounded-full outline-none focus:outline-none mr-1 mb-1"
                type="button"
              >
                <i class="fab fa-google"></i></button
              ><button
                class="bg-blue-400 text-white w-8 h-8 rounded-full outline-none focus:outline-none mr-1 mb-1"
                type="button"
              >
                <i class="fab fa-twitter"></i></button
              ><button
                class="bg-gray-800 text-white w-8 h-8 rounded-full outline-none focus:outline-none mr-1 mb-1"
                type="button"
              >
                <i class="fab fa-instagram"></i>
              </button>
            </div> -->
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="absolute w-full bottom-0 bg-gray-900 pb-6">
    <div class="container mx-auto px-4">
      <hr class="mb-6 border-b-1 border-gray-700" />
      <div
        class="flex flex-wrap items-center md:justify-between justify-center"
      >
        <div class="w-full md:w-4/12 px-4">
          <div class="text-sm text-white font-semibold py-1">
           S V N I T  2020
            <!-- <a
              href="https://www.creative-tim.com"
              class="text-white hover:text-gray-400 text-sm font-semibold py-1"
              >Creative Tim</a
            > -->
          </div>
        </div>
        <div class="w-full md:w-8/12 px-4">
          <ul
            class="flex flex-wrap list-none md:justify-end  justify-center"
          >
            <!-- <li>
              <a
                href="https://www.creative-tim.com"
                class="text-white hover:text-gray-400 text-sm font-semibold block py-1 px-3"
                >Creative Tim</a
              >
            </li> -->
            <li>
              <a
                href="https://www.creative-tim.com/presentation"
                class=" text-white hover:text-gray-400 text-sm font-semibold block py-1 px-3"
                >Home</a
              >
            </li>
            <!-- <li>
              <a
                href="http://blog.creative-tim.com"
                class="text-white hover:text-gray-400 text-sm font-semibold block py-1 px-3"
                >Blog</a
              >
            </li> -->
            <!-- <li>
              <a
                href="https://github.com/creativetimofficial/argon-design-system/blob/master/LICENSE.md"
                class="text-white hover:text-gray-400 text-sm font-semibold block py-1 px-3"
                >MIT License</a
              >
            </li> -->
          </ul>
        </div>
      </div>
    </div>
  </div>
</body>
</html>
