<div class="container">
    <div class="flex justify-center items-center h-screen flex-col">
        <div class="mt-16">
            <button class="btn-primary" routerLink="/homepage">home</button>
        </div>
        <div class="flex justify-center items-center h-screen" style="width: 80%;">
            <div class="flex-1 w-1/4 h-full">
                <div class="max-w-sm rounded overflow-hidden shadow-lg text-center mx-2">
                    <div class="flex justify-center mt-2">
                    <img class="rounded-full h-32 shadow-lg" src="../../assets/images/avi.jpg" alt="Sunset in the mountains">
                    </div>
                    <div class="px-6 py-4">
                      <div class="font-bold text-xl mb-2 text-center">Avinash Jaiswal</div>
                      <p class="text-gray-700 text-base h-40">
                        Avinash is a developer. He is an average human with ambitions to buy a helicopter at some point of life. He loves the web and loves breathing life into ideas. 
                      </p>
                    </div>
                    <div class="px-6 py-4">
                      <span class="inline-block bg-gray-200 rounded-full px-3 py-1 text-sm font-semibold text-gray-700 m-2"># Backend Developer</span>
                      <span class="inline-block bg-gray-200 rounded-full px-3 py-1 text-sm font-semibold text-gray-700 m-2"># System Architect</span>
                    </div>
                  </div>
            </div>
            <div class="flex-1 w-1/4  h-full">
                <div class="max-w-sm rounded overflow-hidden shadow-lg text-center mx-2">
                        <div class="flex justify-center mt-2">
                                <img class="rounded-full h-32 shadow-lg" src="../../assets/images/rogin.jpeg" alt="Sunset in the mountains">
                        </div>
                        <div class="px-6 py-4">
                          <div class="font-bold text-xl mb-2 text-center">Rogin Koshy</div>
                          <p class="text-gray-700 text-base h-40">
                                Rogin is a competitive coder and loves solving problems. He likes to explore new technologies but is often confused on what to pursue.
                                <br/>
                                PS. I am the one with the cap                          
                        </p>
                        </div>
                        <div class="px-6 py-4">
                          <span class="inline-block bg-gray-200 rounded-full px-3 py-1 text-sm font-semibold text-gray-700 m-2"># Competitive Coder</span>
                          <span class="inline-block bg-gray-200 rounded-full px-3 py-1 text-sm font-semibold text-gray-700 m-2"># Angular Enthusiast</span>
                        </div>
                      </div>
            </div>
            <div class="flex-1 w-1/4  h-full">
                <div class="max-w-sm rounded overflow-hidden shadow-lg text-center mx-2">
                        <div class="flex justify-center mt-2">
                                <img class="rounded-full h-32 shadow-lg" src="../../assets/images/sameer.jpeg" alt="Sunset in the mountains">
                                </div>
                        <div class="px-6 py-4">
                          <div class="font-bold text-xl mb-2 text-center">Sameer Mandloi</div>
                          <p class="text-gray-700 text-base h-40">
                                Hey I am Sameer, a Computer Engineer. I am always ready to learn new things or to go for any trip ;) . I am a brilliant listener so just ping me if you need a talk! ;)                          </p>
                        </div>
                        <div class="px-6 py-4">
                          <span class="inline-block bg-gray-200 rounded-full px-3 py-1 text-sm font-semibold text-gray-700 m-2"># ML Enthusiast</span>
                          <span class="inline-block bg-gray-200 rounded-full px-3 py-1 text-sm font-semibold text-gray-700 m-2"># Frontend Developer</span>
                        </div>
                      </div>
            </div>
            <div class="flex-1 w-1/4  h-full">
                <div class="max-w-sm rounded overflow-hidden shadow-lg mx-2">
                        <div class="flex justify-center mt-2">
                                <img class="rounded-full h-32 shadow-lg" src="../../assets/images/atharva.jpeg" alt="Sunset in the mountains">
                        </div>
                        <div class="px-6 py-4">
                          <div class="font-bold text-xl mb-2 text-center">Atharva Kalsekar</div>
                          <p class="text-gray-700 text-base h-40">
                                I am Atharva, a svnit pass-out. I like pretty much nothing but biryani and whisky. Happy coding.
                          </p>
                        </div>
                        <div class="px-6 py-4">
                          <span class="inline-block bg-gray-200 rounded-full px-3 py-1 text-sm font-semibold text-gray-700 m-2"># ML Enthusiast</span>
                          <span class="inline-block bg-gray-200 rounded-full px-3 py-1 text-sm font-semibold text-gray-700 m-2"># Frontend Developer</span>
                        </div>
                      </div>
            </div>
        </div>
    </div>
</div>