
  <div class="text-gray-800 antialiased">
    <nav
      class="top-0 absolute z-10 w-full flex flex-wrap items-center justify-between px-2 py-3 navbar-expand-lg"
    >
      <div
        class="container px-4 mx-auto flex flex-wrap items-center justify-between"
      >
        <div
          class="w-full relative  flex justify-between lg:w-auto lg:static lg:block lg:justify-start"
        >
         <p style="font-family: Lobster;font-style: cursive; color:white" class="text-4xl">Graffi-Tee</p>
        </div>
        <a
        target="_blank"
        class="lg:text-white lg:hover:text-gray-300 text-gray-800  flex items-center text-base justify-center  font-bold"
        href="https://t.me/graffiTee"
        ><img class="mr-4" src="https://img.icons8.com/fluent/48/000000/telegram-app.png"/>
        <p>Please join our <br/> Channel for updates</p>
        </a>

      </div>
    </nav>
    <main>
      <section class="absolute w-full h-full">
        <div
          class="absolute top-0 w-full h-full bg-gray-900"
          style="background-image: url(./assets/images/register_bg_2.png); background-size: 100%; background-repeat: no-repeat;"
        ></div>
        <div class="container mx-auto px-4 h-full">
          <div class="flex content-center items-center justify-center h-full">
            <div class="w-full lg:w-5/12 px-4">
              <div
                class="relative flex flex-col min-w-0 break-words w-full mb-6 shadow-lg rounded-lg bg-gray-200 border-0"
              >
                <div class="rounded-t mb-0 px-4 py-2">
        
                </div>
                <div class="flex-auto px-4 lg:px-10 py-10 pt-0">
                  <div class="text-black-500 text-center mb-3 font-bold">
                    <p class="text-xl">S I G N    U P</p>
                  </div>
    
                  <form [formGroup]="form">
                    <div class="relative w-full mb-3">
                      <label
                        class="block uppercase text-gray-700 text-xs font-bold mb-2"
                        for="username"
                        >Username</label
                      ><input 
                      formControlName="username" (blur)="checkUsername()" type="text" id="username" class="px-3 py-3 placeholder-gray-400 text-gray-700 bg-white rounded text-sm shadow focus:outline-none focus:shadow-outline w-full"
                        placeholder="Show your creativity !"
                        style="transition: all 0.15s ease 0s;"
                      />
                    </div>
                    <div class="relative w-full mb-3">
                      <label
                        class="block uppercase text-gray-700 text-xs font-bold mb-2"
                        for="password"
                        >Password</label
                      ><input
                        type="password" (blur)="checkPassword()" formControlName="password" id="password" class="px-3 py-3 placeholder-gray-400 text-gray-700 bg-white rounded text-sm shadow focus:outline-none focus:shadow-outline w-full"
                        placeholder="Do remember it. We wont be able to retrieve em back"
                        style="transition: all 0.15s ease 0s;"
                      />
                    </div>
                    <div class="relative w-full mb-3">
                        <label
                          class="block uppercase text-gray-700 text-xs font-bold mb-2"
                          for="firstName"
                          >First Name</label
                        ><input formControlName="firstName" type="text"  id="firstName" (blur)="checkFirstName()"
                           class="px-3 py-3 placeholder-gray-400 text-gray-700 bg-white rounded text-sm shadow focus:outline-none focus:shadow-outline w-full"
                          placeholder="Your good first name"
                          style="transition: all 0.15s ease 0s;"
                        />
                      </div>
                      <div class="relative w-full mb-3">
                      <label
                        class="block uppercase text-gray-700 text-xs font-bold mb-2"
                        for="lastName"
                        >Last Name</label
                      ><input formControlName="lastName" type="text" class="input-area" id="lastName" (blur)="checkLastName()"
                        class="px-3 py-3 placeholder-gray-400 text-gray-700 bg-white rounded text-sm shadow focus:outline-none focus:shadow-outline w-full"
                        placeholder="Your good last name"                        
                        style="transition: all 0.15s ease 0s;"
                      />
                    </div>                
                      <div class="relative w-full mb-3">
                        <label
                          class="block  uppercase text-xs font-bold mb-2"
                          for="department"
                          >Department<select name="department" id="department" class="px-3 py-3 mt-2 text-gray-700 bg-white rounded text-lg shadow focus:outline-none focus:shadow-outline w-full" (change)="setDepartment(department.value)" #department>
                            <option disabled>Choose your department</option>
                            <option value="COED">Computer Engineering Department</option>
                            <option value="CHED">Chemical Engineering Department</option>
                            <option value="MED">Mechanical Engineering Department</option>
                            <option value="ECED"> Electronics Engineering Department</option>
                            <option value="CED">Civil Engineering Department</option>
                            <option value="EED">Electrical Engineering Department</option>
                        </select></label
                        >
                      </div>
                    <div>
                    </div>
                    <ngx-spinner
                      bdColor="rgba(255,255,255,0.8)"
                      size="medium"
                      color="#E5433E"
                      type="pacman"
                      >
                      <p class="text-gray-900 text-xl p-2 mt-2">Creating a Graffi-Tee for you. <br>Wait for a few seconds</p>
                      </ngx-spinner>
                    <div class="flex justify-center items-center text-center mt-1/2 p-5">
                      <button [disabled]="!allowSignupUsername||!allowSignupPassword||!allowSignupFirstName||!allowSignupLastName" type="button" [ngClass]="{'bg-red-500':!allowSignupUsername||!allowSignupPassword||!allowSignupFirstName||!allowSignupLastName}" (click)="signup()"
                        class="btn-primary"
                        type="button"
                        style="transition: all 0.15s ease 0s;"
                      >
                        Sign Up
                      </button>
                        <button routerLink="/homepage"
                          class="btn-primary"
                          type="button"
                          style="transition: all 0.15s ease 0s;"
                        >
                          Sign In
                        </button>
                    </div>
                    
                    
                  </form>
                </div>
              </div>
            </div>
          </div>
        </div>
        <footer class="fixed w-full bottom-0 bg-gray-900 pb-4 mt-2">
          <div class="container mx-auto px-4">
            <hr class="mb-6 border-b-1 border-gray-700" />
            <div
              class="flex flex-wrap items-center md:justify-between justify-center"
            >
              <div class="w-full md:w-4/12 px-4">
                <div class="text-sm text-white font-semibold py-1">
                 S V N I T  2020
                </div>
              </div>
              <div class="w-full md:w-8/12 px-4">
                <ul
                  class="flex flex-wrap list-none md:justify-end  justify-center"
                >
                  <li>
                    <a
                      href="https://www.creative-tim.com/presentation"
                      class=" text-white hover:text-gray-400 text-sm font-semibold block py-1 px-3"
                      >About Us</a
                    >
                  </li>
                </ul>
              </div>
            </div>
          </div>
        </footer>
      </section>
    </main>
  </div>
