<div class="flex justify-center items-center bg-gray-900">
  <p class="text-2xl text-white leading-loose tracking-widest" style="font-family: lobster;font-style: cursive;">{{username}}'s PROFILE</p>
</div>
<div class="flex justify-evenly mt-4" style="width: 100%;">
  <button class="btn-secondary" (click)="showFront()">Front Side</button>
  <button class="btn-secondary" (click)="showHome()">Home</button>
  <button class="btn-secondary" (click)="showBack()">Back Side</button>
</div>
<hr class="mt-4 mb-2 border-2 border-gray-200">
<div class="flex justify-center mt-10 flex-col lg:flex-row sm:justify-center sm:items-center lg:items-baseline">
  <div class="table">
    <table class="table-auto flex flex-col items-center">
      <thead>
        <tr>
          <th class="px-4 py-2 text-2xl text-center">Friends who wrote on your shirt</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let user of userArr">
          <td class="border px-4 py-2 text-center text-xl">{{user}}</td>
        </tr>
        <tr *ngIf="userArr.length==0">
          <td class="border px-4 py-2 text-center text-xl">no modifications yet!</td>
        </tr>
      </tbody>
    </table>
  

    
    <div class="flex justify-center mt-10">
      <button class="btn-3d" (click)="deleteAccountToggle()">Delete Account</button>
    </div>
    

<form [formGroup]="form" *ngIf="clickedDeleteAccount" class="">
   
  <div class="relative w-full mb-3 flex justify-center flex-col items-center">
    <p style="font-family:Roboto;font-style:serif; " class="text-2xl lg:text-xl">Tussi ja rahe ho? Tussi na jao :'(</p>
    <label 
      class="block uppercase text-gray-700 text-xs font-bold mb-2 mt-2"
      for="password"
      >Password</label
    ><input
      type="password"  formControlName="password" id="password" class="px-3 py-3 sm:px-4 placeholder-gray-400 text-gray-700 bg-white rounded text-sm shadow focus:outline-none focus:shadow-outline w-1/2"
      placeholder="Confirm your password"
      style="transition: all 0.15s ease 0s;"
    />
    <button  class="btn-secondary bg-red-700 hover:bg-red-600 mt-4" (click)="deleteAccount()">Delete account</button>
  </div>
   
 
  

</form>
<ngx-spinner
    bdColor="rgba(255,255,255,0.8)"
    size="medium"
    color="#E5433E"
    type="pacman"
    >
    <p class="text-gray-900 text-xl p-2 mt-2">Deleting your account! Hope you rot in hell! </p>
    </ngx-spinner>



    <hr class="sm:block lg:hidden border-2 border-gray-200">
  </div>
  <router-outlet></router-outlet>
  
</div>
<div class="w-full relative bottom-0 bg-gray-900 h-16">
  <div class="container mx-auto px-4">
    <hr class="border-b-1 border-gray-700" />
    <div
      class="flex items-center md:justify-between sm:justify-center"
    >
      <div class="w-full md:w-4/12 px-4">
        <div class="text-white font-semibold py-1 sm:text-2xl text-xs">
         S V N I T  2020
        </div>
      </div>
      <a
target="_blank"
class="lg:hidden mt-1"
href="https://t.me/graffiTee"
><img class="h-12 w-24" src="https://img.icons8.com/fluent/48/000000/telegram-app.png"/>
</a>
      <div class="w-full md:w-8/12 px-4">
            <a
              routerLink="/team"
              class=" text-white hover:text-gray-400 text-xs font-semibold block py-1 px-3 text-right sm:text-2xl sm:tracking-wider"
              >About Us</a
            >
      </div>
    </div>
  </div>
</div>