<div class="flex justify-center items-center bg-gray-900">
  <p class="text-4xl text-white leading-loose tracking-widest" style="font-family: lobster;font-style: cursive;">{{username}}'s PROFILE</p>
</div>
<div class="flex justify-evenly mt-4" style="width: 100%;">
  <button class="btn-secondary" (click)="showFront()">Front Side</button>
  <button class="btn-secondary" (click)="showHome()">Home</button>
  <button class="btn-secondary" (click)="showBack()">Back Side</button>
</div>
<hr class="mt-4 mb-2 border-2 border-gray-200">
<div class="flex justify-center mt-10 sm:flex-col lg:flex-row sm:justify-center sm:items-center lg:items-baseline">
  <div class="table w-1/2">
    <table class="table-auto">
      <thead>
        <tr>
          <th class="px-4 py-2 text-2xl">Friends who wrote on your shirt</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let user of userArr">
          <td class="border px-4 py-2 text-center text-xl">{{user}}</td>
        </tr>
        <tr *ngIf="userArr.length==0">
          <td class="border px-4 py-2 text-center text-xl">no modifications yet!</td>
        </tr>
      </tbody>
    </table>
    <hr class="sm:block lg:hidden border-2 border-gray-200">
  </div>
  <router-outlet></router-outlet>
</div>
