
  <body class="text-gray-800 antialiased">
    <ngx-spinner
  bdColor="rgba(255,255,255,0.8)"
  size="medium"
  color="#E5433E"
  type="pacman"
  >
  <p style="font-size: 20px; color:black" [innerHtml]="spinnerMsg"></p>
  </ngx-spinner>
  <nav
  class="w-full flex flex-wrap items-center justify-between px-2 py-3 navbar-expand-lg absolute top-0"
>
  <div
    class="container px-4 mx-auto flex flex-wrap items-center justify-between"
  >
    <div
      class="flex justify-between lg:w-auto lg:static lg:block lg:justify-start"
    >
     <p style="font-family: Lobster;font-style: cursive; color:white" class="text-5xl">Graffi-Tee</p>
    </div>
    <button class="btn-secondary"
          type="button" (click)="logout()">Logout</button>
  </div>
</nav>
    
    <main class="profile-page object-cover" 
    style='background-image: url("../../assets/images/dashboard.jpg");background-repeat: no-repeat;background-position: center;background-size: cover;'
    >
      <section class="py-16">
    
        
        <div class="container mx-auto  px-4" >
          <div 
            class="flex flex-col mt-16  min-w-0 break-words bg-gray-300 w-full shadow-xl rounded-lg"
          >
            <div class="px-6 ">
              <div class="flex flex-wrap justify-center lg:flex-col">
                <div
                  class="w-full px-4 lg:order-1 flex justify-center"
                >
                  <div class="cursor-pointer flex justify-center -mt-16">
                    <img
                      alt="..." (click)="callProfile()" 
                      src="{{photo}}"
                      class="shadow-xl rounded-full sm:h-64 border-none"
                      style=""
                    />
                  </div>
                </div>
                <div
                  class="w-full lg:w-4/12 px-4 lg:order-3 lg:text-right lg:self-center sm:order-3 sm:flex sm:justify-center"
                >
                  <div class="sm:mt-0">
                      <select name="department" id="department" class="px-3 py-3 text-center text-gray-700 bg-white rounded text-lg shadow focus:outline-none focus:shadow-outline w-auto"
                          (change)="getDepartmentUsers(department.value)" #department>
                          <option value="COED">Computer Engineering Department</option>
                          <option value="CHED">Chemical Engineering Department</option>
                          <option value="MED">Mechanical Engineering Department</option>
                          <option value="ECED"> Electronics Engineering Department</option>
                          <option value="CED">Civil Engineering Department</option>
                          <option value="EED">Electrical Engineering Department</option>
                        </select>
                     
                 
                  </div>
                </div>
                <div class="text-center mt-8 sm:order-2 ">                 
                  <h3
                    class="text-4xl font-semibold leading-normal text-gray-800"
                  >
                  {{currentUser.firstName}} {{currentUser.lastName}}
                  </h3>
                  <div
                    class="text-sm leading-normal mt-0  mb-6 text-gray-600 font-bold uppercase"
                  >
                    <i
                      class="text-lg text-gray-500"
                    ></i>
                    {{currentUser.userId}} , {{currentUser.department}} 
                  </div>
                  
                 
                </div> 
              </div>
             
              
              
              <div class="mt-4 py-10 border-t border-gray-600 text-center">
                <div class="mt-2 mb-2 text-xl">
                  find your friends here!
                </div>             
                <div *ngIf="fetchedUsers" class="self-end">
                  <input type="search" #search name="search" id="search" class="px-3 py-3 sm:px5 sm:py-5 text-gray-700 bg-white rounded sm:text-xl text-sm shadow focus:outline-none focus:shadow-outline w-auto"
                    placeholder="Search by name..." (input)="searchWord(search.value)">
                </div>
                <div *ngIf="!fetchedUsers">
                  <p class="text-2xl sm:text-xl">Ask your friends from this department to tag along. United We Stand!</p>
                </div>
                <div class="flex flex-wrap justify-center">
                  <div class="w-full lg:w-9/12 px-4">
                  </div>
                </div>
              </div>
            </div>
          

            <div *ngIf="!fetchedUsers" style="height: 400px;">
    <ngx-spinner
      bdColor="rgba(255,255,255,0.8)"
      size="large"
      color="#E5433E"
      type="pacman"
      size="medium"
      name="spinner-2"
      [fullScreen] = "false"
      >
      <p style="font-size: 20px; color:black; color: white;">Finding people...</p>
    </ngx-spinner>
  </div>
          
            <div class="grid  sm:grid-cols-2  md:grid-cols-3 lg:grid-cols-4 xl:grid-cols-5 p-6">
            <div *ngFor="let user of userArr|  paginate: { itemsPerPage: 8, currentPage: page };index as i">
              <div *ngIf="fetchedUsers" class="flex justify-center items-center">            
              <div class="w-48 text-center rounded-lg m-6 px-6 py-6 sm:m-2" 
              [ngClass]="{'bg-green-600':i==0,'bg-blue-600':i==1,'bg-purple-600':i==2,'bg-pink-600':i==3,'bg-indigo-600':i==4,
              'bg-gray-600':i==5,'bg-red-600':i==6,'bg-yellow-600':i==7,'bg-teal-600':i==8,'bg-orange-600':i==9}"> 
                <a class="cursor-pointer" (click)="callEdit(user.userId,currentUser.userId)">       
              <div class="w-auto bg-cover h-24" [style.backgroundImage]="'url('+ user.photoUrl +')'"></div>
                  </a>
                  <div class="p-2 h-12 text-center text-white flex-1 flex flex-col text-white">
                    <h3 class="text-xs">{{user.firstName}} {{user.lastName}}</h3>
                      <div class=" text-grey-darker text-sm flex-1">
                       <p class="text-xs">{{user.userId}} </p>
                      </div>
                        <p class="border-t border-grey-light pt-2 text-xs text-grey hover:text-red uppercase no-underline tracking-wide">{{user.department}}</p>
                  </div>
            </div>
            </div>
            </div>
            
          </div>
          <div *ngIf="userArr.length!==0" class="w-1/2  text-white-100">
            <pagination-controls (pageChange)="page = $event" class="object-center"></pagination-controls>
          <div class="w-1/2 text-white-100"></div>
          </div>
          </div>
        </div>
      </section>
    </main>
    <footer class="w-full bg-gray-900 pb-4">
      <div class="container mx-auto px-4">
        <hr class="mb-6 border-b-1 border-gray-700" />
        <div
          class="flex items-center sm:justify-center"
        >
          <div class="w-full w-4/12 px-4">
            <div class="text-lg text-white font-semibold py-1 sm:text-2xl">
             S V N I T  2020
            </div>
          </div>
          <a
    target="_blank"
    class=""
    href="https://t.me/graffiTee"
    ><img class="sm:h-20 sm:w-40 lg:h-14 lg:w-30" src="https://img.icons8.com/fluent/48/000000/telegram-app.png"/>
    </a>
          <div class="w-full w-8/12 px-4">
                <a
                  routerLink="/team"
                  class=" text-white hover:text-gray-400 text-lg font-semibold block py-1 px-3 text-right sm:text-2xl sm:tracking-wider"
                  >About Us</a
                >
          </div>
        </div>
      </div>
    </footer>
  </body>
 

