
  <body class="">
  <div class="container mx-auto px-4">
    <div class="flex flex-wrap justify-center text-center mt-4">
      <div class="w-full lg:w-6/12 px-4">
        <h2 class="text-4xl font-semibold"></h2>
        <p class="text-2xl leading-relaxed mb-4 text-black-600">
         We are the Graduates of SVNIT'2020
        </p>
        
      </div>
    </div>
    <div class="flex flex-wrap mt-10">
      <div class="w-full lg:w-3/12 lg:mb-0 px-4 mt-4 sm:mb-8 rounded-lg shadow-lg">
        <div class="px-6">
          <img
            alt="..."
            src="./assets/images/avi.jpg"
            class="shadow-lg rounded-full max-w-full mx-auto"
            style="max-width: 120px;"
          />
          <div class="pt-6 text-center flex justify-center flex-col">
            <h5 class="text-xl font-bold">Avinash Jaiswal</h5>
            <div class="mt-1 text-sm text-gray-700 font-semibold w-full flex justify-center">
              <p class="sm:w-1/2 lg:w-full text-center lg:h-40">
              Avinash is a developer. He is an average human with ambitions to buy a helicopter at some point of life. He loves the web and loves breathing life into ideas. 
              </p>
            </div>
            <div class="flex justify-evenly mt-6 ">
                <a href="mail:avinashjaiswal642@gmail.com"><img style="width:40px;height:40px"  src="../../assets/images/icons8-gmail-96.png" alt=""></a>
                <a href="https://www.linkedin.com/in/littlestar642/" target="_blank"><img style="width:40px;height:40px" src="../../assets/images/icons8-linkedin-48.png" alt=""></a>
              </div>
          </div>
        </div>
      </div>

      <div class="w-full lg:w-3/12 lg:mb-0 px-4 sm:mb-8 mt-4 rounded-lg shadow-lg">
        <div class="px-6">
          <img
            alt="..."
            src="./assets/images/rogin.jpeg"
            class="shadow-lg rounded-full max-w-full mx-auto"
            style="max-width: 120px;"
          />
          <div class="pt-6 text-center flex justify-center flex-col">
            <h5 class="text-xl font-bold">Rogin Koshy</h5>
            <div class="mt-1 text-sm text-gray-700 font-semibold w-full flex justify-center">
              <p class="sm:w-1/2 lg:w-full text-center lg:h-40">
                Rogin is a competitive coder and loves solving problems. He likes to explore new technologies but is often confused on what to pursue.He is only writing this paragraph as he was told to do so.
              P.S. I am the one with the cap
              </p>
            </div>
            <div class="flex justify-evenly mt-6">
                <a href="mail:rgkss13@gmail.com"><img style="width:40px;height:40px"  src="../../assets/images/icons8-gmail-96.png" alt=""></a>
                <a href="https://www.linkedin.com/in/rogin-koshy-aa5493144/" target="_blank"><img style="width:40px;height:40px" src="../../assets/images/icons8-linkedin-48.png" alt=""></a>
              </div>
          </div>
        </div>
      </div>

      <div class="w-full lg:w-3/12 lg:mb-0 px-4 sm:mb-8 mt-4 rounded-lg shadow-lg">
        <div class="px-6">
          <img
            alt="..."
            src="./assets/images/sameer.jpeg"
            class="shadow-lg rounded-full max-w-full mx-auto"
            style="max-width: 120px;"
          />
          <div class="pt-6 text-center flex justify-center flex-col">
            <h5 class="text-xl font-bold">Sameer Mandloi</h5>
            <div class="mt-1 text-sm text-gray-700 font-semibold w-full flex justify-center">
              <p class="sm:w-1/2 lg:w-full text-center lg:h-40">
              Hey I am Sameer, a Computer Engineer. I am always ready to learn new things or to go for any trip ;) . I am a brilliant listener so just ping me if you need a talk! ;)
              </p>
            </div>
            <div class="flex justify-evenly mt-6">
              <a href="mail:sameer13041998@gmail.com"><img style="width:40px;height:40px"  src="../../assets/images/icons8-gmail-96.png" alt=""></a>
              <a href="https://www.linkedin.com/in/sameermandloi" target="_blank"><img style="width:40px;height:40px" src="../../assets/images/icons8-linkedin-48.png" alt=""></a>
            </div>
          </div>
        </div>
      </div>

      <div class="w-full lg:w-3/12 lg:mb-0 px-4 sm:mb-8 mt-4 rounded-lg shadow-lg">
        <div class="px-6">
          <img
            alt="..."
            src="./assets/images/atharva.jpeg"
            class="shadow-lg rounded-full max-w-full mx-auto"
            style="max-width: 120px;"
          />
          <div class="pt-6 text-center flex justify-center flex-col">
            <h5 class="text-xl font-bold">Atharva Kalsekar</h5>
            <div class="mt-1 text-sm text-gray-700 font-semibold w-full flex justify-center">
              <p class="sm:w-1/2 lg:w-full text-center lg:h-40">
              I am Atharva, a svnit pass-out. I like pretty much nothing but biryani and whisky. Happy coding.
              </p>
            </div>
            <div class="flex justify-evenly mt-6">
                <a href="mail:kalsekar.atharva7@gmail.com"><img style="width:40px;height:40px"  src="../../assets/images/icons8-gmail-96.png" alt=""></a>
                <a href="https://www.linkedin.com/in/atharva-kalsekar-8584b012a" target="_blank"><img style="width:40px;height:40px" src="../../assets/images/icons8-linkedin-48.png" alt=""></a>
              </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="w-full sm:relative lg:aboslute lg:mt-10 relative bottom-0 bg-gray-900 h-16">
    <div class="container mx-auto px-4">
      <hr class="border-b-1 border-gray-700" />
      <div
        class="flex items-center md:justify-between sm:justify-center"
      >
        <div class="w-full md:w-4/12 px-4">
          <div class="text-white font-semibold py-1 sm:text-2xl text-xs">
           S V N I T  2020
          </div>
        </div>
        <a
  target="_blank"
  class="lg:hidden mt-1"
  href="https://t.me/graffiTee"
  ><img class="h-12 w-24" src="https://img.icons8.com/fluent/48/000000/telegram-app.png"/>
  </a>
        <div class="w-full md:w-8/12 px-4">
              <a
                routerLink="/"
                class=" text-white hover:text-gray-400 text-xs font-semibold block py-1 px-3 text-right sm:text-2xl sm:tracking-wider"
                >HOME</a
              >
        </div>
      </div>
    </div>
  </div>
</body>
